@media (max-width: 750px) {
  .hero--about {
    .left__content {
      display: none;
    }

    .right__content {
      max-width: 100%;
    }


  }

  .contacts {
    .contact__map {
      display: none;
    }
  }
  .feedback__item {
    max-width: 100%;
  }
}