@media(max-width: 750px) {
  .header {
    .container--small {
      flex-direction: column;
      .nav__list {
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
        .list__item {
          text-align: center;
          width: 100%;
        }
      }
      .header__contact {
        display: none;
      }
    }
  }
}