.benefits {
  padding-top: 180px;

  .container--small {
    display: flex;
    gap: 280px;
  }

  .left__content {
    max-width: 30%;
  }

  .right__content {
    flex: 1;

    h2 {
      padding-bottom: 30px;
    }

    .list__item {
      display: flex;
      gap: 10px;
      padding-bottom: 10px;

      .about__text {
        text-align: left;

      }
    }

    .footer__link {
      font-size: 18px;
    }

    .parametrs {
      padding-top: 65px;
      display: flex;
      gap: 60px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
          width: 50%;
        }
      }
    }
  }
}

.left__content {
  max-width: 30%;
}