.container {
  max-width: calc(100vw - 80px);
  margin: 0 auto;
}

.container--small {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__container--about {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}